<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard Page</title>
     <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<header>
	<h2>Welcome to SpringPharma</h2>
	 <a href="/logout">Logout</a>

</header>

<body>

	<div class="fourthstyle">

    <h1>Your Dashboard</h1>
    <h3> <a href="add_medicine">Add Medicine</a></h3>
    <h3><a href="show_medicine">Show Medicine</a></h3>
    <h3> <a href="/billing/new">New Bill</a></h3>
    <h3> <a href="/billing">Billing History</a></h3>
    
    </div>
    
</body>

<footer>
<h3>All rights reserved @SpringPharm</h3>

</footer>
</html>
